@import './helpers/optimize.scss';

* {
  box-sizing: border-box;
}

body,html {
  height: max-content;

  &.noskroll {
    overflow: hidden;
  }
}

body {
  margin: 0;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 5;
  padding: 0 60px;
  background: #fff;
  float: left;
}

.fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mobile_visible {
  display: none;
}

@media screen and (max-width:780px){
  .mobile_hidden {
    display: none !important;
  }

  .mobile_visible {
    display: block;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.slick-dots {
  position: absolute;
  top: calc(100% + 40px);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  
  li {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
    &.slick-active{
      background: #000;
    }
  }

  button {
    display: none;
  }
}

img[data-lazysrc] {
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  will-change: transform;
  &.load{
    transition: 2s;
    opacity: 1;
    visibility: visible;
  }
}

[data-popup] {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* END common styles */

@import './components/header.scss';
@import './components/popup.scss';
@import './components/footer.scss';