// colors
$basicWhite:    #fff;
$basicBlack:    #000;
$basicOrange:   #FBAB35;
$basicGray:     #717171;
$lightGray:     #C3C3C3;
$lightPurple:   #A796AD;
$basicPurple:   #671F81;
$basicGreen:   #6CAA1D;
$basicRed:   #EA0D42;

$statisticText:     #671F81;
$percentPlusText:   #6CAA1D;
$percentMinusText:  #EA0D42;

$widgetsBackground: #F8F8F9;

$hoverBackground: #F8F8F9;

$borderColor: #ECECEC;
$borderColorLight: #F8F8F9;

// font size
$normal_fs:     14px;
$large_fs:      24px;

// size
$contentWidth: 1280px;

// breakpoints
$xs: 450px;
$sm: 576px;
$md: 768px;
$fa: 800px;
$lg: 992px;
$xl: 1200px;

// fonts
$proxima: "Proxima Nova", sans-serif;

// shadow
$baseShadow: 0 10px 30px rgba(7, 17, 55, 0.08);
$violetShadow: 0 10px 30px rgba(103, 31, 129, 0.2);



